language: python
python:
  - "2.6"
  - "2.7"
env:
  # Test against the latest version of Twisted.
  - TWISTED_VERSION="Twisted"
matrix:
  include:
    # Test against the oldest version of Twisted that we claim to support
    # This is a separate matrix inclusion to avoid spawning unnecessary builds.
    - python: "2.7"
      env: TWISTED_VERSION="Twisted==13.1.0"
before_install:
  # we need the protobuf-compiler so Vumi can install Riak client libraries
  - sudo apt-get install -qq protobuf-compiler
install:
  # We easy_install a binary riak_pb package because pip install needs `protoc'.
  - "pip install ${TWISTED_VERSION}"
  - "pip install -r requirements.txt --use-wheel"
  - "pip install coveralls --use-wheel"
  - "python setup.py install"
script:
  - VUMITEST_REDIS_DB=1 coverage run --source=vxfreeswitch `which trial` vxfreeswitch
after_success:
  - coveralls
